{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>welcome on our agence to locate</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore dolores earum est et eum
            exercitationem, ipsa laudantium non nulla obcaecati odio quis sit velit, vero? Expedita fugiat iste
            mollitia.</p>
    </div>
{% endblock %}
