{% extends 'base.html.twig' %}
{% block title category.mark %}
{% block body %}
    <div>
    <h1 style="color: white">_</h1>
    <h1 class="mt-5 text-center">edition de la locations </h1>
    <div class="alert alert-success mb-5 mt-5 container" role="alert">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ category.mark}}</h2>
                <h2>{{ category.matricul}}</h2>
                <h3 class="text-primary" style="font-weight:bold; font-size: 4rem">
                    {{ category.price | number_format(0, '', ' ') }} FCFA
                </h3>
                <p>{{ category.description }}</p>

            </div>
        </div>
    </div>
{% endblock %}